
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

.home-main-section{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .left-side-wrapper{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin: 1rem;
    justify-content: flex-end;
    align-self: center;
    padding: 0 40px;
    background-color: inherit;
    width: 50%;
}

.home-main-section .right-side-wrapper{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin: 1rem;
    justify-content: flex-end;
    align-self: center;
    padding: 0 40px;
    background-color: inherit;
    width: 50%;
}


body{
    padding:0;
    margin:0;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: -o-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: -moz-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: linear-gradient(-135deg, #f0ffb1, #fdc689);
    font-family: Arvo, sans-serif;
    font-size: 1.2rem;
    color:black;
    min-height: 100vh;
}

.full-height-grow{
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.25em ;
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
}


.dropbtn {
    display: flex;
    margin-right: 20px;
    background-color: darkslategrey;
    padding: 0;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;

}

.dropbtn a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}


.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}
.right-subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 3rem;
}



/*
removes left side div from screen when too small
 */
@media (max-width: 900px) {
    .home-main-section .left-side-wrapper{
        display: none;
    }
    .home-main-section{
        justify-content: center;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding: 0;
    margin:0 20px 0 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; left: auto;
    right: auto;}

.classoption{
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: wave;
    padding: 10px 10px;
    margin: 20px;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
}

.classoptiond{
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: wave;
    padding: 10px 10px;
    margin: 20px;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
    position: relative;
}
.classoptiond:hover .dropdown-content{display:block; left: auto; right:2px;}

.statOption{
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: dashed;
    padding: 16px 20px 20px 20px;
    display: inline;
    
    text-decoration: none;
}

.classes-list{
    list-style: none;
    text-decoration: none;
}
.classoption:hover {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: -o-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: -moz-linear-gradient(-135deg, #f0ffb1, #fdc689);
    background: linear-gradient(-135deg, #f0ffb1, #fdc689);

}


