/* Post Thread Page */
#n19_39 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(166, 166, 166);
}
 
	/* Top_bar (1) 1 */
	#n19_49 {
		width: 1152px;
		height: 102px;
		overflow: hidden;
	}
 
 
 
				/* Vector */
				#n19_52 {
					bottom: 7.84%;
				}
 
				/* Vector */
				#n19_53 {
					bottom: 7.84%;
				}
 
				/* Vector */
				#n19_54 {
					right: 91.7535%;
					bottom: 9.8%;
				}
 
				/* Vector */
				#n19_55 {
					left: 92.3611%;
					bottom: 7.84%;
				}
 
		/* Rectangle 1 */
		#n23_12 {
			background: rgb(196, 196, 196);
			top: 100%;
			bottom: -585.29%;
		}
 
	/* Whole post */
	#n35_16 {
		background: rgb(216, 224, 241);
		border-radius: 25px;
		width: 1152px;
		top: 103px;
		height: 229px;
	}
 
	/* Post Blurb */
	#n35_20 {
		font-family: Tuffy;
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 912px;
		transform: translate(0px, 0px);
		line-height: 30.4688px;
		height: 70px;
		left: 224px;
		top: 133px;
	}
 
	/* thumb_up-24px 1 */
	#n60_2 {
		width: 24px;
		height: 27px;
		overflow: hidden;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
		left: 941px;
		top: 103px;
	}
 
		/* Vector */
		#n60_4 {
			left: 4.16667%;
			right: 4.16667%;
			top: 4.17%;
			bottom: 12.5%;
		}
 
	/* thumb_down-24px 1 */
	#n60_5 {
		width: 24px;
		height: 27px;
		overflow: hidden;
		left: 1040px;
		top: 107px;
	}
 
		/* Vector */
		#n60_7 {
			left: 4.16667%;
			right: 4.16667%;
			top: 12.5%;
			bottom: 4.17%;
		}
 
	/* 12 */
	#n60_11 {
		font-family: Tuffy;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 76px;
		align-items: center;
		line-height: 16.4063px;
		height: 20px;
		left: 964px;
		top: 107px;
	}
 
	/* CSE 442 */
	#n60_14 {
		font-family: Tuffy;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 190px;
		transform: translate(0px, 0px);
		line-height: 56.25px;
		height: 71px;
		top: 104px;
	}
 
	/* 0 */
	#n61_44 {
		font-family: Tuffy;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 75px;
		align-items: center;
		line-height: 16.4063px;
		height: 20px;
		left: 1064px;
		top: 107px;
	}
 
	/* Separation */
	#n61_50 {
		background: rgb(167, 167, 167);
		left: 201px;
		width: 17px;
		top: 102px;
		height: 230px;
	}
 
	/* Prof. Matthew Hertz */
	#n61_52 {
		font-family: Tuffy;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 180px;
		transform: translate(0px, 0px);
		line-height: 23.4375px;
		height: 23px;
		top: 175px;
	}
 
	/* rating-svgrepo-com 1 */
	#n62_0 {
		width: 201px;
		height: 200px;
		overflow: hidden;
		top: 163px;
	}
 
		/* Vector */
		#n62_1 {
			top: 36.21%;
			bottom: 36.21%;
		}
 
 
			/* Vector */
			#n62_3 {
				left: 8.77345%;
				right: 91.1508%;
				top: 48.19%;
				bottom: 51.65%;
			}
 
			/* Vector */
			#n62_4 {
				left: 14.4184%;
				right: 84.3205%;
				top: 43.22%;
				bottom: 54.72%;
			}
 
			/* Vector */
			#n62_5 {
				left: 8.90254%;
				right: 87.6953%;
				top: 47.46%;
				bottom: 51.88%;
			}
 
			/* Vector */
			#n62_6 {
				left: 8.74142%;
				right: 91.2486%;
				top: 48.43%;
				bottom: 51.48%;
			}
 
			/* Vector */
			#n62_7 {
				left: 8.79474%;
				right: 88.0812%;
				top: 48.81%;
				bottom: 44.44%;
			}
 
			/* Vector */
			#n62_8 {
				left: 11.2059%;
				right: 88.7901%;
				top: 56.09%;
				bottom: 43.88%;
			}
 
			/* Vector */
			#n62_9 {
				left: 11.2102%;
				right: 77.032%;
				top: 43.2%;
				bottom: 43.2%;
			}
 
		/* Vector */
		#n62_10 {
			left: 8.74063%;
			right: 84.1459%;
			top: 43.2%;
			bottom: 43.2%;
		}
 
 
			/* Vector */
			#n62_12 {
				left: 25.8143%;
				right: 74.1758%;
				top: 48.43%;
				bottom: 51.48%;
			}
 
			/* Vector */
			#n62_13 {
				left: 31.6735%;
				right: 67.2476%;
				top: 43.22%;
				bottom: 55.09%;
			}
 
			/* Vector */
			#n62_14 {
				left: 26.0385%;
				right: 70.6539%;
				top: 47.47%;
				bottom: 51.95%;
			}
 
			/* Vector */
			#n62_15 {
				left: 28.2787%;
				right: 71.7172%;
				top: 56.09%;
				bottom: 43.88%;
			}
 
			/* Vector */
			#n62_16 {
				left: 25.8676%;
				right: 71.0082%;
				top: 48.81%;
				bottom: 44.44%;
			}
 
			/* Vector */
			#n62_17 {
				left: 28.283%;
				right: 59.9592%;
				top: 43.2%;
				bottom: 43.2%;
			}
 
		/* Vector */
		#n62_18 {
			left: 25.813%;
			right: 67.0731%;
			top: 43.2%;
			bottom: 43.2%;
		}
 
 
			/* Vector */
			#n62_20 {
				left: 45.3559%;
				right: 42.8862%;
				top: 43.2%;
				bottom: 43.2%;
			}
 
			/* Vector */
			#n62_21 {
				left: 42.952%;
				right: 56.9516%;
				top: 48.12%;
				bottom: 51.74%;
			}
 
			/* Vector */
			#n62_22 {
				left: 48.7465%;
				right: 50.2232%;
				top: 43.25%;
				bottom: 55.09%;
			}
 
			/* Vector */
			#n62_23 {
				left: 43.0484%;
				right: 53.5494%;
				top: 47.46%;
				bottom: 51.88%;
			}
 
			/* Vector */
			#n62_24 {
				left: 42.9404%;
				right: 53.9353%;
				top: 48.81%;
				bottom: 44.44%;
			}
 
			/* Vector */
			#n62_25 {
				left: 42.8873%;
				right: 57.1027%;
				top: 48.43%;
				bottom: 51.48%;
			}
 
			/* Vector */
			#n62_26 {
				left: 45.3518%;
				right: 54.6442%;
				top: 56.09%;
				bottom: 43.88%;
			}
 
		/* Vector */
		#n62_27 {
			left: 42.8865%;
			right: 50%;
			top: 43.2%;
			bottom: 43.2%;
		}
 
 
			/* Vector */
			#n62_29 {
				left: 62.4246%;
				right: 37.5713%;
				top: 56.09%;
				bottom: 43.88%;
			}
 
			/* Vector */
			#n62_30 {
				left: 60.0135%;
				right: 36.8625%;
				top: 48.81%;
				bottom: 44.44%;
			}
 
			/* Vector */
			#n62_31 {
				left: 60.1213%;
				right: 36.4766%;
				top: 47.46%;
				bottom: 51.88%;
			}
 
			/* Vector */
			#n62_32 {
				left: 59.9922%;
				right: 39.932%;
				top: 48.19%;
				bottom: 51.65%;
			}
 
			/* Vector */
			#n62_33 {
				left: 59.9601%;
				right: 40.0299%;
				top: 48.43%;
				bottom: 51.48%;
			}
 
			/* Vector */
			#n62_34 {
				left: 65.6369%;
				right: 33.1018%;
				top: 43.22%;
				bottom: 54.72%;
			}
 
			/* Vector */
			#n62_35 {
				left: 62.4291%;
				right: 25.8133%;
				top: 43.2%;
				bottom: 43.2%;
			}
 
		/* Vector */
		#n62_36 {
			left: 59.9593%;
			right: 32.9271%;
			top: 43.2%;
			bottom: 43.2%;
		}
 
		/* Vector */
		#n62_37 {
			left: 79.9799%;
			right: 11.6883%;
			top: 46.27%;
			bottom: 45.81%;
		}
 
		/* Vector */
		#n62_38 {
			left: 77.0317%;
			right: 8.74049%;
			top: 43.2%;
			bottom: 43.2%;
		}
 
	/* Other specific details about this class....... */
	#n62_57 {
		font-family: Tuffy;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 912px;
		transform: translate(0px, 0px);
		line-height: 14.0625px;
		height: 85px;
		left: 224px;
		top: 208px;
	}
 
	/* Student Name */
	#n63_17 {
		font-family: Strong;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 67px;
		transform: translate(0px, 0px);
		line-height: 14.0625px;
		height: 13px;
		left: 224px;
		top: 293px;
	}
 
	/* Date/Time */
	#n63_23 {
		font-family: Strong;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 49px;
		transform: translate(0px, 0px);
		line-height: 14.0625px;
		height: 13px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
		left: 965px;
		top: 293px;
	}